:root {
  --main-color: rgb(81, 157, 223);
  --acc-color: rgb(250, 204, 21);
  --back-color: rgb(226, 232, 240);
  --main-text-color: rgb(255, 255, 255);
  --acc-text-color: rgb(99, 99, 99);
}

html {
  background-color: var(--back-color);
}

.container {
  display: grid;
  grid-template-columns: max(200px, 20%) max(800px, 80%);
  grid-template-rows: max(170px, 20%) max(775px, 80%);
}

.sidebar {
  display: grid;
  grid-template-rows: max(50px, 15%) max(400px, 50%) max(100px, 35%);
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 1;
  grid-row-end: 3;
  background-color: var(--main-color);
  color: var(--main-text-color);
}

.logoBar {
  display: flex;
  justify-content: center;
  align-items: center;
}

.logo {
  width: auto;
  height: 100px;
}

.topBar,
.bottomBar {
  display: flex;
  flex-direction: column;
}

.home,
.profile,
.message,
.history,
.task,
.communities,
.settings,
.support,
.privacy {
  display: grid;
  grid-template-columns:
    max(10px, 25%) max(10px, 25%) max(10px, 25%)
    max(10px, 25%);
  align-items: center;
  height: 60px;
}

.topBar img,
.bottomBar img {
  height: 25px;
  width: 25px;
  grid-column-start: 2;
  grid-column-end: 3;
}

.titles {
  grid-column-start: 3;
  grid-column-end: 4;
  align-self: flex-start;
  font-size: 24px;
  font-weight: 700;
}

.header {
  background-color: var(--main-text-color);
  box-shadow: 0px 5px 5px grey;
  display: grid;
  grid-template-columns: max(10px, 60%) max(10px, 40%);
  grid-template-rows: max(10px, 40%) max(10px, 60%);
  overflow: hidden;
}

.search-container {
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 1;
  grid-row-end: 2;
  display: grid;
  grid-template-columns: max(10px, 10%) max(70px, 90%);
  justify-content: center;
  align-items: center;
}

input[type="text"] {
  padding: 6px;
  font-size: 17px;
  background-color: var(--back-color);
  border-radius: 15px;
  border: none;
  width: 100%;
}

.search-container button {
  float: right;
  margin-right: 16px;
  border: none;
  cursor: pointer;
  background: none;
}

.search-container button:hover {
  background: #ccc;
}

.glass {
  height: 35px;
  width: 35px;
}

.notf-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.bell {
  height: 35px;
  width: 35px;
}

.userLogo {
  background-color: var(--acc-color);
  padding: 5px;
  border-radius: 45px;
  width: 45px;
  height: 45px;
}

.userName {
  font-size: 24px;
  font-weight: 700;
}

.welcome {
  display: grid;
  grid-template-columns: max(10px, 15%) max(10px, 85%);
  grid-template-rows: max(10px, 20%) max(10px, 80%);
}

.userLogoBig {
  background-color: var(--acc-color);
  padding: 5px;
  border-radius: 45px;
  width: 60px;
  height: 60px;
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 1;
  grid-row-end: 3;
  align-self: center;
  justify-self: center;
}

.greeting {
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 1;
  grid-row-end: 2;
  align-self: flex-start;
  justify-self: left;
  font-size: 24px;
  font-weight: 500;
}

.user {
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 2;
  grid-row-end: 3;
  align-self: flex-start;
  justify-self: left;
  font-size: 32px;
  font-weight: 600;
}

.links {
  display: grid;
  grid-template-columns: max(10px, 33%) max(10px, 33%) max(10px, 33%);
  justify-items: center;
  align-items: center;
}

.new,
.upload,
.share {
  border-radius: 30px;
  width: 100px;
  text-align: center;
  border: none;
  padding: 12px;
  background-color: var(--main-color);
  color: var(--main-text-color);
}

.content {
  display: grid;
  grid-template-columns: max(10px, 70%) max(10px, 30%);
  grid-template-rows: max(10px, 50%) max(10px, 50%);
}

h1 {
  grid-row-start: 1;
  grid-row-end: 2;
  font-size: 30px;
  font-weight: 600;
  align-self: center;
}

.projects-container {
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 1;
  grid-row-end: 3;
  display: grid;
  grid-template-rows: max(10px, 8%) max(10px, 92%);
  padding: 15px;
}

.projects {
  grid-row-start: 2;
  grid-row-end: 3;
  display: grid;
  grid-template-columns: repeat(3, max(10px, 30%));
  grid-template-rows: repeat(3, max(10px, 30%));
  grid-gap: 20px;
}

.tile {
  border-radius: 15px;
  background-color: var(--main-text-color);
  box-shadow: 2px 2px 2px 2px grey;
}

.announcements-container {
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 1;
  grid-row-end: 2;
  display: grid;
  grid-template-rows: max(10px, 16%) max(10px, 84%);
  padding: 15px;
}

.announcements {
  border-radius: 15px;
  background-color: var(--main-text-color);
  box-shadow: 2px 2px 2px 2px grey;
  grid-row-start: 2;
  grid-row-end: 3;
}

.trending-container {
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 2;
  grid-row-end: 3;
  display: grid;
  grid-template-rows: max(10px, 16%) max(10px, 84%);
  padding: 15px;
}

.trending {
  border-radius: 15px;
  background-color: var(--main-text-color);
  box-shadow: 2px 2px 2px 2px grey;
  grid-row-start: 2;
  grid-row-end: 3;
}
